extends layout

block content
  h1= title
  p Signed in as #{username}
  div(ui-view)
    nav
      a(ui-sref='dashboard') Company Dashboard
      a(ui-href='companyprofile') Company Profile
      a(ui-href='createschedule') Create Schedule
      a(href='/user') User View
    input(type="button" method='post' value="logout" action="")