extends layout

block content
  h1= 'Admin'
  p Signed in as #{username}
    nav(class='navbar navbar-default navbar-fixed-top' role='navigation')
      div(class='container')
        a(href='/' class='navbar-brand') Schedulize
        a(ui-sref='dashboard' class='btn navbar-btn .navbar-left') Company Dashboard
        a(ui-href='companyprofile' class='btn navbar-btn .navbar-left') Company Profile
        a(ui-href='createschedule' class='btn navbar-btn .navbar-left') Create Schedule
        a(href='/user') User View
        button(method='post' class='logout btn btn-default navbar-btn .navbar-right' action="") Logout
  div(ui-view)