doctype html
html(ng-app='adminApp')
  head
    title= 'Schedulize Admin'
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../styles/style.css')
    script(src='./bower_components/angular/angular.min.js')
    script(src='./bower_components/ui-router/release/angular-ui-router.min.js')
    script(src='./scripts/app.js')
    script(src='./scripts/services.js')
  body
    block content