/* Remove Default Toolbar */
div.fc-toolbar {
	display: none;
}

.fc-widget-header {
	background-color: transparent;
}

.cal-toolbar *{
	margin-right: 10px;
}

tbody, table, thead, th, tr, td{
	border-color: #CECECE !important;
}

h2.view-header {
	float: left;
	font-size: 2.8rem;
}

div.header-buttons {
	float: left;
	margin-top: 1%;
	margin-left: 15px;
}

div.shift-manager {
	clear: both;
}
