/* Remove Default Toolbar */
div.fc-toolbar {
	display: none;
}

.fc-widget-header {
	background-color: transparent;
}

.cal-toolbar *{
	margin-right: 10px;
}

tbody, table, thead, th, tr, td{
	border-color: #CECECE !important;
}

div.shift-manager {
	clear: both;
}
