<div id="availabilityTable" ng-controller="availabilityController">
  <aside class="sidebar-left">
    <h2 style="margin-top: 0px">Personal Data</h2>
    <div class="inputs">
      <h4>Total Shifts Desired</h4>
      <div class="form-group has-success">
        <input required type="number" ng-model="user.shiftsDesired" ng-change="changed=true" name="desiredShifts" data-hint="Enter a number" ng-value="user.shiftsDesired" class="form-control input-jumbo">
      </div>
      <h4>Indicate the shifts you are eligible to work:</h4>
      <div ng-repeat="role in roles" class="checkbox">
        <label>
          <input type="checkbox" checkbox-group ng-value="role"/> {{role}}
        </label>
      </div>
    </div>
  </aside>
  <div class="left-sidebar-content">
    <div>
      <h2 class="view-header">Availability for {{ user.name }}</h2>
      <div class="header-buttons">
        <button ng-if="changed" type="button" ng-click="updateAvailability()" class="btn btn-primary btn-green default-with-icon"><i class="mdi-content-save"></i>Save Changes</button>
        <button type="button" ng-click="deleteSchedule(activeSchedule)" class="btn btn-red btn-danger default-with-icon"><i class="mdi-action-delete"></i>Clear</button>
      </div>
    </div>
    <br/>
    <div style="clear: both"class="availabilityCal" availability-cal="{ height: 520, eventDurationEditable: true, firstHour: 6, selectable: true, unselectAuto: false}">
    </div>
  </div>
  <script>
    $.material.init();
  </script>
</div>