<h1> Availability </h1>
<div id="availabilityTable" ng-controller="availabilityController" ng-mouseup='stopSelect()'>
	<!-- <form name="availabilityForm" role='form' ng-submit="sendAvailability(timeSlots)">
		<div class="container">
			<div class='form-horizontal'>
				<h4>Full Name</h4>
				<div class='form-group'>
					<input name='name' id='name' class='form-control' type="text" ng-model="availabilityData.name" placeholder="Enter your name" required />
				</div>
				<h4>How many shifts would you like to work?</h4>
				<div class='form-group'>
					<input name='shiftCount' id='shiftCount'class='form-control' type="text" ng-model="availabilityData.shiftsDesired"max="5" min="1" placeholder="Enter your desired number here" required/>
			    </div>
		    </div>
		    <h4>Are you eligible to manage?</h4>
			<div class="radio">
			  <label>
			    <input type="radio" name="canManage" id="optionsRadios1" value="true" ng-model="availabilityData.canManage">
			    Yes
			  </label>
			  <label>
			    <input type="radio" name="canManage" id="optionsRadios2" value="false" ng-model="availabilityData.canManage">
			    No
			  </label>
			</div>
    	<p><strong>Instructions:</strong> Please fill out the following chart to indicate which times you would be available to work.  Click each time once to mark as available and twice to mark as unavailable.  You will not be assigned to shifts during times you have not marked as available. However, we do keep track of how many times you have indicated you would be available to work...</p>
		</div>
		<div class="sendWrapper">
			<input type="submit" class="btn btn-primary btn-block btn-lg" value="Complete availability!">
		</div> -->
		<div class="col-sm-10" availability-cal="{ height: 500, allDaySlot: false, eventStartEditable: true, eventDurationEditable: true, firstHour: 6, selectable: true, selectHelper: true, unselectAuto: false}">
		</div>
	</form>
	<script>
		$('.fc-today').removeClass('fc-state-highlight');
	</script>
	<style type="text/css">
	.fc-widget-header {
		background-color: white;
	}

	.fc-today {
		background-color: white;
	}

	.selected, .selected:hover, .selected:active, .selected:focus {
		color: black;
	}

	</style>

</div>