doctype html
html(ng-app='adminApp')
  head
    title= 'Schedulize Admin'
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap-material-design/dist/css/material-wfont.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet' href='/styles/normalize.css')
    link(rel='stylesheet' href='/styles/defaults.css')
    link(rel='stylesheet' href='/styles/style.css')   
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/bower_components/ionicons/css/ionicons.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/material.min.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/ripples.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/ui-router/release/angular-ui-router.min.js')
    script(src='/bower_components/angular-ui-router.stateHelper/stateHelper.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/angular-moment/angular-moment.min.js')
    script(src='/bower_components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/admin/app.js')
    script(src='/admin/services/admin.services.js')
  body(ng-controller="mainController")
    block content