body {
	background-color: #ECEFF1;
	color: #191919;
	margin: 0;
  margin-top: 10px;
  padding-top: 3%;
}

a {
  color: #ECEFF1;
}

a:hover{
  color: #7f8c8d;
}

p, h1, h2, h3 {
	color: rgba(0, 0, 0, 0.87);
}

i, h4, h5, h6 {
	color: rgba(0, 0, 0, 0.57);
}

h1 {
	margin-bottom: 10px;
}

h2 {
  clear: both;
}

h3 {
  font-size: 2rem;
}

/* Default Sidebar Settings */
.sidebar-left, .sidebar-right {
  box-sizing: border-box;
  background-color: #37474F;
  height: 1000px;
  position: fixed;
  bottom: 0;
  top: 50px;
  margin: 0;
  width: 20%;
  padding: 2% 15px;
  color: #ECEFF1;
  /*overflow: auto;*/
  overflow: scroll;
}

.sidebar-left p, .sidebar-left h5, .sidebar-left h6, sidebar-right p, .sidebar-right h5, .sidebar-right h6, .sidebar-left input {
  color: #ECEFF1;
}

.sidebar-left h1, .sidebar-left h2, .sidebar-left h3, .sidebar-left h4 {
  color: rgba(255, 255, 255, 0.70);
  margin-top: 0px;
}

.sidebar-right h1, .sidebar-right h2, .sidebar-right h3, .sidebar-right h4 {
  color: rgba(255, 255, 255, 0.70);
  margin-top: 0px;
}

.sidebar-left {
  float: left;
}

.sidebar-right {
  float: right;
}

.left-sidebar-content {
	width: 70%;
  float: right;
  color: #191919;
  margin: 1% 5%;
}

.left-sidebar-content input, .right-sidebar-content input {
  color: #191919;
}

.right-sidebar-content {
  width: 70%;
  float: left;
  color: #191919;
  margin: 0 5%;
}

.sidebar-header {
  margin-top: -5px;
  width: 100%;
}

/* ICON BUTTONS */
button.with-icon {
}

button .ion {
  font-size: 23px;
  position: relative;
  margin-left: 15px;
  line-height: 100%;
  top: 3px;
  padding-bottom: 4px;
}

/* NAVBAR STYLES */
.navbar {
  background-color: #263238;
  color: #ecf0f1;
}

.active {
  background-color: #546E7A;
}

.li-active li {
  background-color: #546E7A;
}

.navbar-btn {
  color: #ecf0f1;
}

.navbar-btn:hover {
  color: #bdc3c7;
}

/* GENERIC COLORED BUTTONS */
.btn-green {
  background-color: #4CAF50 !important;
}

.btn-yellow {
  background-color: #FFEB3B !important;
}

.btn-light {
  background-color: #CFD8DC !important;
}