/* TILE VIEW SELECTION LIST FOR SIDEBAR */
ul.selection-list {
  list-style: none;
  text-indent: 0;
  padding: 0 5px;
  text-align: left;
}

.selection-list a {
  text-decoration: none;
}

.selection-list li {
  background-color: #455A64;
  border-radius: 5px;
  padding: 5px 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.selection-list li:hover {
  background-color: #546E7A;
}

.selection-list li h4{
  font-size: 16px;
  color: #ECEFF1;
  margin-bottom: 1px;
}

.selection-list li a {
  text-decoration: none;
}

.selection-list li a:hover {
  text-decoration: none;
}

.selection-list li p{
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #B0BEC5;
}

/* CONTENT GROUP MODULE */
.content-group-module {
  background-color: white;
  border-radius: 10px;
  max-height: 500px;
  padding: 0 15px;
  border: 2px solid #e9eaed;
  overflow-y: scroll;
}

/* LIST GROUP MODULE */
.list-group-module {
  background-color: white;
  border-radius: 10px;
  max-height: 500px;
  border: 2px solid #e9eaed;
  overflow-y: scroll;
}

.list-group-module .list-group-item {
  background-color: #ECEFF1;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  cursor: pointer;
}

.list-group-module .list-group-item:hover {
  background-color: #CFD8DC;
}

/* AUTHENTICATION PAGES */
div.authContainer {
  display: inline-block;
  height: 20%;

  background: white;
  border-radius: 10px;
}

div.authContainer:first-child {
  border-right: 2px solid black;
}


h2.view-header {
  float: left;
  font-size: 2.8rem;
}

div.header-buttons {
  float: left;
  margin-top: 1%;
  margin-left: 15px;
}

.title-bar {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #B0BEC5;
  border-bottom: #263238 2px solid;
}

.title-bar h1, .title-bar h2 {
  margin-left: 40px;
}

.icon-btn{
  width: 20px;
  height: 30px;
}

.table{
  width:85%;
  margin: auto;
  text-align: center;
}

.table>tbody>tr>td {
  padding: 4px;
}

.logout{
  color: #2c3e50;
}

.navbar-default .navbar-brand {
  font-family: "Roboto Slab", "Lucida Grande", Helvetica, Arial, sans-serif;
}