doctype html
html(ng-app='userApp')
  head
    title= username
    link(rel='stylesheet', href='../styles/style.css')
    script(src='./bower_components/angular/angular.min.js')
    script(src='./bower_components/ui-router/release/angular-ui-router.min.js')
    script(src='./bower_components/moment/min/moment.min.js')
    script(src='./bower_components/angular-moment/angular-moment.min.js')
    script(src='./scripts/user/app.js')
    script(src='./scripts/user/user.services.js')
  body
    block content