extends layout

block content
  h1= title
  p Signed in as #{username}
  nav
    a(ui-sref='dashboard') Dashboard
    a(ui-sref='userprofile') Profile
    a(ui-sref='setavailability') Availability
    a(href='../Admin') Admin View
  input(type="button" method='post' value="logout" action="")
  div(ui-view)

