<h2> Fill out your Availability! </h2>
<div id="availabilityTable" ng-controller="availabilityController">
	<p>{{ markedShifts }}</p>
	<!-- {{ timeSlots }} -->
	<table id="timeSlots">
		
		<thead>
		  <tr>
		  	<th>Sunday</th>
		  	<th>Monday</th>
		  	<th>Tuesday</th>
		  	<th>Wednesday</th>
		  	<th>Thursday</th>
		  	<th>Friday</th>
		  	<th>Saturday</th>
		  </tr>
		</thead>
		<tbody>
			<tr ng-repeat='time in timeSlots'>
			 		<td ng-repeat='day in time'>{{ day.start.format('H:mm') + ' - ' + day.end.format('H:mm') }}</td>

			</tr>
		</span>

			
			<!-- <tr ng-repeat='slot in timeSlots.tues'>
			  <td>{{ slot.start.format('H:mm') }}</td>
			</tr> -->
		<tbody>
	</table>
</div>

<!-- <th>12:00 AM - 12:30 AM</th>
		  	<th>12:30 AM - 1:00 AM</th>
		  	<th>1:00 AM - 1:30 AM</th>
		  	<th>1:30 AM - 2:00 AM</th>
		  	<th>2:00 AM - 2:30 AM</th>
		  	<th>2:30 AM - 3:00 AM</th>
		  	<th>3:00 AM - 3:30 AM</th>
		  	<th>3:30 AM - 4:00 AM</th>
		  	<th>4:00 AM - 4:30 AM</th>
		  	<th>4:30 AM - 5:00 AM</th>
		  	<th>5:00 AM - 5:30 AM</th>
		  	<th>5:30 AM - 6:00 AM</th>
		  	<th>6:00 AM - 6:30 AM</th>
		  	<th>6:30 AM - 7:00 AM</th>
		  	<th>7:00 AM - 7:30 AM</th>
		  	<th>7:30 AM - 8:00 AM</th>
		  	<th>8:00 AM - 8:30 AM</th>
		  	<th>8:30 AM - 9:00 AM</th>
		  	<th>9:00 AM - 9:30 AM</th>
		  	<th>9:30 AM - 10:00 AM</th>
		  	<th>10:00 AM - 10:30 AM</th>
		  	<th>10:30 AM - 11:00 AM</th>
		  	<th>11:00 AM - 11:30 AM</th>
		  	<th>11:30 AM - 12:00 PM</th>
		  	<th>12:00 AM - 12:30 AM</th>
		  	<th>12:30 PM - 1:30 PM</th>
		  	<th>1:30 PM - 2:00 PM</th>
		  	<th>2:00 PM - 2:30 PM</th>
		  	<th>2:30 PM - 3:00 PM</th>
		  	<th>3:00 PM - 3:30 PM</th>
		  	<th>3:30 PM - 4:00 PM</th>
		  	<th>4:00 PM - 4:30 PM</th>
		  	<th>4:30 PM - 5:00 PM</th>
		  	<th>5:00 PM - 5:30 PM</th>
		  	<th>5:30 PM - 6:00 PM</th>
		  	<th>6:00 PM - 6:30 PM</th>
		  	<th>6:30 PM - 7:00 PM</th>
		  	<th>7:00 PM - 7:30 PM</th>
		  	<th>7:30 PM - 8:00 PM</th>
		  	<th>8:00 PM - 8:30 PM</th>
		  	<th>8:30 PM - 9:00 PM</th>
		  	<th>9:00 PM - 9:30 PM</th>
		  	<th>9:30 PM - 10:00 PM</th>
		  	<th>10:00 PM - 10:30 PM</th>
		  	<th>10:30 PM - 11:00 PM</th>
		  	<th>11:00 PM - 11:30 PM</th>
		  	<th>11:30 PM - 12:00 AM</th> -->