<div class="col-md-8">
	<div class="content-group-module" ng-controller="employeeViewCtrl">
		<!-- BASIC VIEW -->
		<div ng-show="viewMode==='overview'">
			<h1>{{employee.name}}</h1>
			<h4>Email: {{employee.email}}</h4>
			<h4>Shifts Desired: {{employee.shiftsDesired}}</h4>
			<h4>Shifts Assigned: {{employee.shiftsAssigned}}</h4>
			<h4>Eligible to work as:</h4>
			<ul>
				<li ng-repeat="role in employee.eligibleRoles">{{role}}</li>
			</ul>
			<button ng-click="setMode('availability')" class="btn btn-primary btn-theme-dark default-with-icon-md"><i class="mdi-action-event"></i>View Availability</button>
			<button class="btn btn-primary btn-red default-with-icon-md"><i class="ion ion-close"></i>Remove Employee</button>
			<button class="btn btn-primary btn-theme-light default-with-icon-md"><i class="ion ion-person-add"></i>Make Admin</button>
		</div>
		<!-- AVAILABILITY VIEW -->
		<div ng-show="viewMode==='availability'">
			<div class="button-with-title">
				<button ng-click="setMode('overview')" class="btn btn-primary btn-theme-dark btn-fab mdi-navigation-arrow-back"></button>
				<h1>Availability for {{employee.name}}</h1>
				<p>Desired shifts: {{employee.shiftsDesired}}, Can work as: <span ng-repeat="role in employee.eligibleRoles">{{role}} </span></p>
				
			</div>
		</div>
	</div>
</div>