<div ng-controller="scheduleViewCtrl">
	<h2 class="view-header">{{activeSchedule.name | limitTo: 23}}</h2>
	<!-- {{activeSchedule}} -->
  <div class="header-buttons">
    <button ng-if="changed" type="button" ng-click="saveChanges(activeSchedule)" class="btn btn-primary btn-green default-with-icon"><i class="mdi-content-save"></i>Save Changes</button>
    <button type="button" ng-click="deleteSchedule(activeSchedule)" class="btn btn-red btn-danger default-with-icon"><i class="mdi-action-delete"></i>Delete</button>
    <button type="button" ui-sref="schedulemanager.editemployees" class="btn btn-primary default-with-icon"><i class="mdi-action-account-box"></i>Edit Employees</button>
    <button type="button" ui-sref="schedulemanager.assignshifts" class="btn btn-info default-with-icon"><i class="mdi-action-event"></i>Assign Shifts</button>
  </div>
  <div class="shift-manager">
    <h3 style="margin-bottom: 0; margin-top: 5px">Shift Creator</h3>
    <div style="margin-bottom: 0" class="form-group has-success">
      <div class="input-group">
        <input required type="text" id="role-input" class="form-control floating-label" ng-model="newRole" data-hint="i.e. Cashing, Managing, etc." ng-model="newSchedule.name" placeholder="Add a shift type...">
        <span class="input-group-btn">
        <button type="button" ng-click="addRole()"class="btn btn-default btn-green">Add</button>
        </span>
      </div>
    </div>
    <button ng-repeat="role in activeSchedule.roles" type="button" ng-style="{color: scheduleRole.name === role.name ? '#FFFFFF' : '#1C262B', background: scheduleRole.name === role.name ? role.color : transparent}" ng-click="setScheduleMode(role)" class="btn btn-default">{{role.name}}</button>
  </div>
  <!-- {{activeSchedule}} -->
	<div class="scheduleCal" schedule-cal="{ height: 500 }">
	</div>
  <script type="text/javascript">
    $.material.init();
  </script>
</div>