<div ng-controller="scheduleManagerCtrl">
	<aside class='sidebar-left' style="text-align: center">
		<h2>Schedules</h2>
    <button type="button" ui-sref="schedulemanager.newschedule" class="btn btn-default btn-green with-icon">New Schedule<i class="ion ion-plus-circled"></i></button>
		<ul class="selection-list">
			<a ui-sref-active="li-active" ui-sref="schedulemanager.scheduleview({scheduleId: '50'})">
        <li>
  				<h4>Vital Vittles Fall 2014</h4>
          <p>Created On: November 21, 2014<br>Total Shifts: 124</p>
  			</li>
      </a>
			<a ui-sref-active="li-active" ui-sref="schedulemanager.scheduleview({scheduleId: '51'})">
        <li>
  				<h4>The Hilltoss Falll 2014</h4>
          <p>Created On: November 21, 2014<br>Total Shifts: 124</p>
  			</li>
      </a>
			<a ui-sref-active="li-active" ui-sref="schedulemanager.scheduleview({scheduleId: '52'})">
        <li>
  				<h4>UG Fall 2014</h4>
          <p>Created On: November 21, 2014<br>Total Shifts: 124</p>
  			</li>
      </a>
		</ul>
	</aside>

  <div class='left-sidebar-content'>
    <div ui-view></div>
  </div>
</div>
	