<div ng-controller="scheduleViewCtrl">
	<h2>{{activeSchedule.name}}</h2>
	<!-- {{activeSchedule}} -->
  <div class="header-buttons">
    <button ng-if="changed" type="button" ng-click="saveChanges(activeSchedule)" class="btn btn-primary btn-green default-with-icon"><i class="mdi-content-save"></i>Save Changes</button>
    <button type="button" ng-click="deleteSchedule(activeSchedule)" class="btn btn-red btn-danger default-with-icon"><i class="mdi-action-delete"></i>Delete</button>
    <button type="button" ui-sref="schedulemanager.editemployees" class="btn btn-primary default-with-icon"><i class="mdi-action-account-box"></i>Edit Employees</button>
    <button type="button" ui-sref="schedulemanager.assignshifts" class="btn btn-info default-with-icon"><i class="mdi-action-event"></i>Assign Shifts</button>
  </div>
  <div class="shift-manager">
    <h3>Shift Creator</h3>
    <div class="form-group has-success">
      <div class="input-group">
        <input required type="text" id="role-input" class="form-control floating-label" ng-model="newRole" data-hint="i.e. Cashier, Manager, etc." ng-model="newSchedule.name" placeholder="Add a shift type or select an option below...">
        <span class="input-group-btn">
        <button type="button" ng-click="addRole()"class="btn btn-default btn-green">Add</button>
        </span>
      </div>
    </div>
  </div>
  <button ng-repeat="role in activeSchedule.roles" type="button" ng-click="setScheduleMode(role.name)" class="btn btn-default btn-raised">{{role.name}}</button>
  <!-- {{activeSchedule}} -->
	<div class="scheduleCal" schedule-cal="{ height: 520 }">
	</div>
  <script type="text/javascript">
    $.material.init();
  </script>
</div>