<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin(signinForm.$valid)'>
      <input name='username' type='text' ng-model='user.username' ng-minlength="3"  ng-maxlength="15" ng-class="{ 'has-error' : signinForm.username.$invalid && !signinForm.username.$pristine }">
      <p ng-show="signinForm.username.$error.minlength" class="help-block">Username is too short.</p>
      <p ng-show="signinForm.username.$error.maxlength" class="help-block">Username is too long.</p>
      <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>

  <div style="clear: both">
  </div>
    <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
