body {
	background-color: #ECEFF1;
	color: #191919;
	margin: 0;
  margin-top: 10px;
  padding-top: 50px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ECEFF1;
}

a:hover{
  color: #7f8c8d;
}

p, h1, h2, h3 {
	color: rgba(0, 0, 0, 0.87);
}

i, h4, h5, h6 {
	color: rgba(0, 0, 0, 0.87);
}

h1 {
	margin-bottom: 10px;
  text-align: center;
}

h2 {
  text-align: center;
  clear: both;
}

div.text-light {
	color: #ECEFF1;
}