extends layout
block content
	br
	br
	div.container
		h1(style="text-align: center") You have Insufficient Privileges to access that page
		h3(style="text-align: center") Have an administrative account? 
			a.dark(href="/login") Log In here
		h2(style="text-align: center") OR
		h3(style="text-align: center")
			a.dark(href="/user") Return to User Portal
