extends layout

block content
  div.container
    br
    br
    div.col-md-5.authContainer
      h2 Employee Sign Up
      p Have a company name and password?  Sign up here!
      form(action="/signup/employee" method="POST")
        div.inputs
          h3 Personal Information
          input.form-control.floating-label(required type="text" name="name" placeholder="Name")
          br
          input.form-control.floating-label(required type="email" name="email" placeholder="Email")
          br
          input.form-control.floating-label(required type="password" name="password" placeholder="Password" minlength="5" data-hint="Use upper and lower-case letters")
          br
          input.form-control(required type="password" minlength="5" name="password2" placeholder="Reenter your Password")
          h3 Company Information
          input.form-control.floating-label(required type="text" name="companyName" placeholder="Company Name")
          br
          input.form-control.floating-label(required type="password" name="companyAccessKey" placeholder="Company Access Key")
          if error
            br
            div.alert.alert-dismissable.alert-danger
              button.close(type="button" data-dismiss="alert") ×
              p(style="color: white")
                strong #{error}
          input.btn.btn-default.btn-lg.btn-block.btn-primary(type="submit" value="Get Started")
    div.col-md-6.authContainer.col-md-offset-1
      h2 Company Sign Up
      p Ready to make scheduling easy?  Register your company.
      form(action="/signup/company" method="POST")
        div.inputs
          h3 Company Information
          input.form-control.floating-label(required type="text" name="companyName" placeholder="Company Name")
          br
          input.form-control.floating-label(required type="password" name="companyAccessKey" data-hint="This is the key employees will use to be added to your company" placeholder="Company Access Key")
          br
          input.form-control(required type="password" name="companyAccessKey2" placeholder="Reenter your Company Access Key")
          h3 Personal Information
          input.form-control.floating-label(required type="text" name="name" placeholder="Name")
          br
          input.form-control.floating-label(required type="email" name="email" placeholder="Email")
          br
          input.form-control.floating-label(required type="password" name="password" placeholder="Password")
          if error2
            br
            div.alert.alert-dismissable.alert-danger
              button.close(type="button" data-dismiss="alert") ×
              p(style="color: white")
                strong #{error2}
          input.btn.btn-default.btn-lg.btn-block.btn-primary(type="submit" value="Register Company")
    div.col-md-12(style="text-align: center")
      h3 Already have an account?  
        a.dark(href="/login") Log in here.
  script(type="text/javascript").
      $.material.init();